engine-strict=true
strictDepBuilds=true
dangerouslyAllowAllBuilds=false
minimumReleaseAge=10080
minimumReleaseAgeStrict=true
minimumReleaseAgeIgnoreMissingTime=false
verifyStoreIntegrity=true
strict-ssl=true
prefer-frozen-lockfile=true
blockExoticSubdeps=true
trustPolicy=no-downgrade
